UNSPLASH_ACCESS_KEY=<UNSPLASH ACCESS KEY>
UNSPLASH_BASE_URL=api.unsplash.com
APP_ID=<APP ID>
USER_AGENT="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/17.6 Safari/605.1.1"
WALLPAPER_STORAGE_LOCATION="wallpapers"
WALLPAPER_QUERY="dark minimalist"